header {
    padding: 10px 0;
    background: linear-gradient(141deg, var(--dark), var(--main) 20%, #26c0ad 90%);;
    color: var(--white);

    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}

header h1 {
    padding: 0 25px;
    font-size: 30px;
    margin: 8px 0;
    display: inline-block;
    float: left;
}

nav {
    display: inline-block;
    float: right;
    padding: 14px 0 8px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a.nav-item {
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    margin: 0;
    font-family: 'Raleway', sans-serif;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

nav ul li a.nav-item-hover:after {
    display: block;
    content: '';
    background: var(--white);
    height: 2px;
    width: 0;
    margin: 5px auto 0;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

nav ul li a.nav-item-hover:hover:after {
    width: 100%;
}

li.menu-item a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}