body {
    margin: 0;
    padding: 0;
}

main {

}

.clear-float {
    clear: both;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
}

.error-box {
    width: 100%;
    margin: 10px 0;
    background: rgba(223, 41, 53, 0.7);
    border-left: 3px solid var(--error);
    display: block;
}

.error-box p {
    display: inline-block;
    margin: 12px 15px;
    color: var(--white);
}

.success-box {
    width: 100%;
    margin: 10px 0;
    background: rgba(42, 252, 152, 0.7);
    border-left: 3px solid var(--success);
    display: block;
}

.success-box p {
    display: inline-block;
    margin: 12px 15px;
    color: var(--white);
}